<template>
<div class="bg-gray-200 min-h-full w-full mx-0 my-0">
    <div class="hello">
    <div class="pb-8 px-4 md:px-8 lg:px-12 xl:px-20 flex items-center justify-center flex-col">
        <div class="my-6 text-4xl leading-tight font-semibold font-display">
          Čekuj zkoušku
        </div> 
       
       
        <div class="bg-white flex flex-col h-auto sm:w-11/12 lg:w-8/12 md:w-10/12 lg:w-9/12 xl:w-8/12 py-4 rounded shadow-lg w-full">
          <div class="flex justify-end px-10">
            <span class="text-indigo-400 hover:text-indigo-600 hover:bg-grey-200 hover:px-2 hover:py-1 cursor-pointer" @click="logout">Odhlásit</span>
          </div>
          <!-- <div class="w-full px-6 min-h-full xs:flex-col sm:flex md:flex lg:flex xl:flex" :class="{'border-b border-gray-200': data}"> -->
          <div class="w-full px-6 min-h-full xs:flex-col sm:flex md:flex lg:flex xl:flex border-b border-gray-200">

            <label class="mt-4 block w-full px-2 sm:mt-0 sm:w-2/5 sm:w-5/12 lg:mt-4 lg:w-5/12 xl:w-5/12">
              <span class="text-sm font-semibold text-gray-500">Uživatelské jméno</span>
               <input
                class="block px-3 py-3 my-1 w-full bg-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:text-gray-900 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded-lg" 
                placeholder="Uživatelské jméno (UIs)" 
                v-model="nickname"
              />
            </label>
            <label class="mt-4 block w-full px-2 sm:mt-0 sm:w-2/5 lg:mt-4 lg:w-5/12 xl:w-5/12">
               <span class="text-sm font-semibold text-gray-500">Heslo</span>
               <input
                class="block px-3 py-3 my-1 w-full bg-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:text-gray-900 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded-lg"
                placeholder="Heslo"
                type="password"
                v-model="password"
              />
            </label>
                         

           <label class="mt-4 block w-full flex flex-col xs:px-0 px-2 sm:mt-0 sm:w-1/5 lg:mt-4 lg:w-2/12 xl:w-2/12 focus:outline-none">
               <button @click="login"
                  class="block relative w-full h-12 sm:w-auto sm:inline-block bg-indigo-500 hover:bg-indigo-400 font-semibold text-white px-6 mt-6 py-2 rounded-lg xl:block"
                >
                  <div class="w-full h-full px-1 py-1">
                    <span :class="{'hidden':loading}">Login</span>
                    <div :class="{'hidden': !loading}" class="flex h-full items-center justify-center relative w-full ">
                      <!-- <b-loading is-full-page="false" active.sync="false" can-cancel="false"></b-loading> -->
                      	<!-- <RingLoader :color="'#ffffff'" /> -->
                        <div class="flex h-full items-center">
                          <div class="lds-ring scale"><div></div><div></div><div></div><div></div></div>  

                        </div>
                    </div>
                  </div>
                    <!-- <loader></loader> -->
                  
                </button>
            </label>
             <!-- <spring-spinner
                    :animation-duration="3000"
                    :size="10"
                    color="#ff1d5e"
                  /> -->
  
            
              <!-- <textarea v-model="message" v-on:input="sha1" placeholder="Hasing text" class="bg-gray-200 h-32 my-1 focus:bg-white appearance-none rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"></textarea> -->
           
          </div>
          <!-- <div :class="{'hidden': !data}"> -->
          <div>
          <!-- <div> -->
            <div class="w-full px-6 py-4 min-h-full flex-wrap xs:flex-col sm:flex md:flex lg:flex xl:flex">
              <label class="mt-4 block w-full px-2 sm:mt-0 sm:w-3/12 md:w-3/12 lg:mt-4 lg:w-3/12 xl:w-3/12">
                <span class="text-sm font-semibold text-gray-500">Předmět</span>
                <select @change="changedSubject" v-model="selectedSubject" class="block px-3 py-3 my-1 w-full bg-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:text-gray-900 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded-lg">
                  <option value="">--</option>
                  <option v-for="subject in termsSubjects" :value="subject">{{subject}}</option>                
                </select>
              </label>
              <label class="mt-4 block w-full px-2 sm:mt-0 sm:w-3/12 md:w-3/12 lg:mt-4 lg:w-4/12 xl:w-4/12">
                <span class="text-sm font-semibold text-gray-500">Termín</span>
                <select @change="changedTerm" v-model="selectedTerm" class="block px-3 py-3 my-1 w-full bg-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:text-gray-900 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded-lg">
                   <option value="">--</option>
                   <option v-for="term in subjectTerms" :value="term" ref="sbjTerms">{{term}}</option>                
                </select>
              </label>
              <label class="mt-4 block w-full px-2 sm:mt-0 sm:w-3/12 md:w-3/12 lg:mt-4 lg:w-3/12 xl:w-3/12">
                <span class="text-sm font-semibold text-gray-500">Refresh [min]</span>
                <input type="number" @change="changedMinutes" 
                  class="block px-3 py-3 my-1 w-full bg-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:text-gray-900 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded-lg" 
                  placeholder="minuty" 
                  v-model.number="minutes"
                  min="1"
                />
               </label>
              <label class="mt-4 block w-full xs:px-0 px-2 sm:mt-0 sm:w-3/12 md:w-3/12 lg:mt-4 lg:w-2/12 xl:w-2/12 focus:outline-none">
                <button @click="runChecker" :class="{'bg-green-500 hover:bg-green-400': !checkerRunning, 'bg-red-500 hover:bg-red-400': checkerRunning}"
                    class="block w-full px-6 h-12 sm:w-auto sm:inline-block  font-semibold text-white mt-6 py-2 rounded-lg xl:block focus:outline-none"
                  >
                  <div class="flex flex-center">
                     <svg viewBox="0 0 55 55" :class="{'hidden': checkerRunning}" class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
                      <path d="M12.869 3.158C8.277.524 4.555 2.68 4.555 7.973v39.05c0 5.297 3.722 7.452 8.314 4.82L47 32.27c4.593-2.634 4.593-6.903 0-9.537L12.869 3.158z" fill-rule="nonzero"/>
                    </svg> 
                    <svg viewBox="0 0 55 55" :class="{'hidden': !checkerRunning}" class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><g fill-rule="nonzero">
                      <path d="M17.521 2.013a5.544 5.544 0 00-5.544 5.543v39.888a5.542 5.542 0 005.544 5.543 5.543 5.543 0 005.544-5.543V7.556a5.542 5.542 0 00-5.544-5.544zM37.479 2.013a5.544 5.544 0 00-5.544 5.543v39.888a5.543 5.543 0 005.544 5.543 5.543 5.543 0 005.543-5.543V7.556a5.544 5.544 0 00-5.543-5.544z"/></g>
                    </svg>
                    <!-- <span class="pl-1"> Check </span>  -->
                  </div>
                 
                  </button>
              </label>
              <label class="mt-4 block w-full px-2 sm:mt-0">
                <span class="ml-2 mb-0 text-gray-500"><span class="font-semibold">Přihlásit</span> na termín</span>
                <div class="flex flex-col">
                  <div class="px-3 my-1">
                    <b-radio v-model="checkMode" @input="changedCheckMode" 
                        native-value="register"
                        name="type"
                        type="is-success">
                        Ano
                    </b-radio>
                    <span class="pl-2 text-gray-500">(Přihlásí na dostupný termín)</span>
                  </div>
                  <div class="px-3 my-1">
                    <b-radio v-model="checkMode" @input="changedCheckMode" 
                        native-value="info"
                        name="type"
                        type="is-info">
                        Ne 
                    </b-radio>
                    <span class="pl-2 text-gray-500">(Pouze notifikuje dostupný termín)</span>

                  </div>
                </div>
                 

              </label>
            </div>
           
          

          </div>

          
          <!-- <div :class="{'hidden': !data}" class="w-full px-2 mt-0"> -->
          <div class="w-full px-2 mt-0">
              <div class="px-6">
                <span class="text-sm font-semibold text-gray-500">Log list</span>
              </div>
              <div class="w-full px-6 pt-1 pb-4 min-h-full xs:flex-col">
                <div class="overflow-auto h-48 border border-gray-400 border-rounded px-2 py-2 rounded">
                  <div v-for="log in logger.slice().reverse()" v-html="log">
                  </div>
                </div>
                
              </div>
          </div>
          
          





          <!-- <div class="px-1 block hidden">
            <button @click="sha1()">Calculate</button>
          </div>
          <div class="px-6 pb-4 pt-4" :class="{'hidden': !hash}">
            <span class="text-sm font-semibold text-gray-700 block">Hash</span>
            <div class="block bg-gray-200 my-1 rounded py-2 px-3 text-gray-700 leading-tight flex justify-between">

            <div class="flex justify-between">
              <svg class="h-5 w-5 fill-current" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
                <path d="M53.43 18.17c-1.106-2.815-3.134-6.876-6.514-10.24-3.368-3.353-7.386-5.322-10.164-6.384a8.323 8.323 0 00-8.83 1.872l-8.13 8.092c-2.41 2.399-3.105 6.09-1.728 9.184.426.96.89 1.899 1.386 2.806L1.606 41.343A2.07 2.07 0 001 42.807v9.11a2.07 2.07 0 002.07 2.07h9.11a2.07 2.07 0 002.07-2.07V48.19h3.727a2.07 2.07 0 002.07-2.07v-3.727h3.727a2.07 2.07 0 100-4.14h-5.797a2.07 2.07 0 00-2.07 2.07v3.726H12.18a2.07 2.07 0 00-2.07 2.07v3.727H5.14v-6.181l18.36-18.36a2.07 2.07 0 00.306-2.537 33.505 33.505 0 01-1.959-3.756 4.12 4.12 0 01.866-4.567l8.13-8.092a4.177 4.177 0 014.43-.939c2.404.919 5.869 2.61 8.722 5.45 2.872 2.858 4.62 6.374 5.58 8.82a4.111 4.111 0 01-.928 4.419l-8.228 8.19a4.17 4.17 0 01-4.557.887 26.873 26.873 0 01-3.726-1.9 2.07 2.07 0 00-2.166 3.528 31.03 31.03 0 004.302 2.196c3.12 1.298 6.68.6 9.068-1.777l8.228-8.19a8.25 8.25 0 001.861-8.867z" fill-rule="nonzero"/>
              </svg>
              <div class="pl-3">
                {{ hash }}
              </div>
            </div>
              <div class="flex">
              <button @click="clearHash" type="button" class="px-2 text-gray-500 hover:text-gray-600 focus:outline-none">
                <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" version="1.1">
                    <path fill-rule="evenodd" d="M13.59 12l7.066-7.067a1.123 1.123 0 10-1.589-1.589L12 10.411 4.933 3.344a1.123 1.123 0 10-1.59 1.59L10.412 12l-7.067 7.067a1.123 1.123 0 101.589 1.589L12 13.589l7.067 7.067a1.12 1.12 0 001.59 0c.438-.439.438-1.15 0-1.59L13.588 12z"/>
                </svg>  
              </button>
            </div>  
             
                    
            </div>
            
          </div> -->
        </div>
      
      <div class="pt-8 flex">
        <span>Made with</span>
          <svg viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg" class="mx-1 mt-1 h-4 w-4" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
            <path d="M27.341 11.833C29.481 6.633 34.367 3 40.051 3c7.656 0 13.17 6.716 13.863 14.72 0 0 .374 1.988-.45 5.565-1.12 4.872-3.757 9.2-7.311 12.503L27.34 53 8.846 35.788c-3.554-3.302-6.19-7.631-7.312-12.503-.823-3.577-.45-5.564-.45-5.564C1.779 9.716 7.293 3 14.95 3c5.684 0 10.253 3.634 12.392 8.833z" fill="#d75a4a" fill-rule="nonzero"/>
          </svg>
        <span> by student </span>
        <span class="text-blue-400 ml-1">PEF</span>
        </div>
      <span class="tracking-widest text-sm text-gray-600">dracossos@gmail.com</span>
      </div>
  </div>
</div>
</template>

<script>
  import { ipcRenderer } from 'electron'
  import { messageBus } from '../main.js';
  // import SpringSpinner from 'epic-spinners'

  export default {

   /*  mounted() {
      


       ipcRenderer.on('initAppFinished', (event, data) => {
            this.appData = data;
            console.log('stopped loading')
            console.log(data)

            ipcRenderer.send('initDashboardData', data);
          })

    }, */

   

  //  created: function() {
  //     messageBus.$on('appData', (data) => { 
  //       console.log('toto jsou data: ', data)
  //       this.loading = false;
  //     });
  // },
  
  
  data() {
    return {
      loggeIn: false,
      timeoutProcess: '',
      loading: false,
      termsSubjects: null,
      data: '',
      hasData: false,
      password: '', //odstranit 
      nickname: '', //odstranit 
      minutes: 5,
      selectedSubject: '', 
      selectedTerm: '',
      subjectTerms: [], 
      checkerRunning: false,
      logger: [],
      checkMode: 'info',
      termKey: 0,
      checkForm: true
    }
  },
  created() {
    let self = this; 
    messageBus.$on('errorLog', (e) => {
      if (self.checkerRunning ) {
        self.log('Error', {
          type: 'state',
          status: 'error',
          e
        })
        self.checkerRunning = false;
      }

    });
    messageBus.$on('termUnAccesible', (item) => {
      const logItem = {
          type: 'state',
          status: 'fail',
          item: item
      }
      self.log('Nedostupný termín', logItem)
      if (self.checkerRunning ) {
       this.timeoutProcess = setTimeout(() => {
           self.check();
        }, self.minutes*60*1000);
      }
      console.log('data')
    });
    messageBus.$on('termAccesible', (item) => {
      if (self.checkerRunning) {
          self.log('Dostupný termín', {
            type: 'state',
            status: 'success',
            item
          })
          new Notification('Zkouška', {
            body: `termín ${item.date} předmětu ${item.subject} je dostupný`
          })
          if (this.checkMode === 'register') {
            self.registerTerm();
          } else {
            self.checkerRunning = false;
          }
      }
    });
    messageBus.$on('termRegistered', (args) => {
       if (self.checkerRunning) {
          self.log('Registrace termínu', {
            type: 'state',
            status: 'register',
            item: args.term
          })
          new Notification('Zkouška', {
            body: `termín ${args.term.date} předmětu ${args.term.subject} byl registrován`
          })
          self.checkerRunning = false;
          this.refreshSelectedSubjects(args.terms)
      }
    });
    messageBus.$on('noTerms', () => {
      self.log('Nejsou žádné dostupné termíny', {
        type: 'sys'
      })
      new Notification('Neexistence termínů', {
        body: `Nejsou žádné dostupné termíny`
      })
       this.loading = false;
        this.$buefy.toast.open({
                    duration: 2000,
                    message: `Nejsou žádné dostupné termíny`,
                    position: 'is-top',
                    type: 'is-info'
                })
    });
    messageBus.$on('userInfoToShow', (data) => { 
      if (data.length<1) {
        this.loading = false;
        this.data = null;
          this.$buefy.toast.open({
                    duration: 2000,
                    message: 'Špatné iniciály',
                    position: 'is-bottom',
                    type: 'is-danger'
                })
      } else {
         this.loggedIn = true;
         this.$buefy.toast.open({
                    duration: 2000,
                    message: 'Úspěšné přihlášení',
                    type: 'is-success'
                })
        this.log('Přihlášení do UIs', {
          type: 'sys'
        })
        this.processData(data)     
      }
    });
  },


    methods: {
      logout() {
        this.password = '';
        this.nickname = '';
        this.data = '';
        this.$router.push('/')
      },
      login() {
        this.hasData = false;
        this.data = null;
        this.termsSubjects = null;
        this.subjectTerms = null;
        if (!this.nickname || !this.password) {
          this.$buefy.toast.open({
                    duration: 2000,
                    message: `Nejsou zadány iniciály`,
                    position: 'is-bottom',
                    type: 'is-danger'
                })
        } else {
          this.loading = true;
          ipcRenderer.send('login', {
          nickname: this.nickname,
          password: this.password
        });
        }
        
      },
      changedSubject(e) {
        if (this.checkerRunning) {
          this.checkerRunning = false;
        }
        let self = this;
        this.subjectTerms = [];
        const selectedSubject = e.target.options[e.target.options.selectedIndex].value;
        this.data.forEach(item => {
          if (item.subject === selectedSubject) {
            self.subjectTerms.push(item.date)
          }
        })
      },
      changedTerm(e) {
        if (this.checkerRunning) {
          this.checkerRunning = false;
        }
      },
      changedMinutes(e) {
        if (this.checkerRunning) {
          this.checkerRunning = false;
        }
        if (e.target.value < 1 || e.target.value > 300) {
          this.minutes = 1
        }
      },
      changedCheckMode() {
        if (this.checkerRunning) {
          this.checkerRunning = false;
        }
      },
      runChecker() {
        if (!this.loggedIn) {
          this.$buefy
            .toast.open({
                duration: 1500,
                message: `Nejdříve se přihlašte do UIs`,
                position: 'is-bottom',
                type: 'is-info'
            })
        } else {
          this.checkerRunning = !this.checkerRunning;
          if (!this.checkerRunning) {
              clearTimeout(this.timeoutProcess);
          }
  
          if (!this.minutes || 
              !this.selectedSubject || 
              !this.selectedTerm) {
            this.checkerRunning = false 
            this.$buefy
              .toast.open({
                  duration: 1500,
                  message: `Zadejte parametry`,
                  position: 'is-bottom',
                  type: 'is-danger'
              })
          } else if (this.checkerRunning) {
            this.check();
            this.$buefy
              .toast.open({
                  duration: 1000,
                  message: 'Kontroluji termín',
                  type: 'is-info'
              })
          } else {
            this.$buefy
              .toast.open({
                  duration: 1000,
                  message: 'Ukončena kontrola',
                  type: 'is-info'
              })
          }
        }
      },
      processData(data) {
        this.hasData = true;
        this.termsSubjects = [];
        this.loading = false;
        this.data = data;
        // this.terms = JSON.parse(data);
      // console.log(this.terms)
        data.forEach(item => {
            if(this.termsSubjects.indexOf(item.subject) === -1) {
              this.termsSubjects.push(item.subject);
            }
        });
        console.log(this.termsSubjects)
      },
      refreshSelectedSubjects(terms) {
        for (let i=1; i<=this.subjectTerms.length;i++) {
          this.subjectTerms.pop();
        }
        terms.forEach(item => {
          if (item.subject === this.selectedSubject) {
            this.subjectTerms.push(item.date)
          }
        })
      },
      log(record, log) {
        const now = new Date();
        const nowHours = (now.getHours()<10) ? `0${now.getHours()}` : now.getHours();
        const nowMinutes = (now.getMinutes()<10) ? `0${now.getMinutes()}`: now.getMinutes();
        if (log.type === 'state' && log.status === 'success') {
          this.logger.push(`<span class="text-gray-600">${now.getDate()}.${now.getMonth()}.${now.getFullYear()}</span><span class="text-gray-600 pl-2">${nowHours}:${nowMinutes}# </span><span class="px-2 text-green-400">${record}</span> <span class="text-gray-600">${log.item.subject} ${log.item.date}</span></span>`)
        } 
        if (log.type === 'state' && log.status === 'register') {
          this.logger.push(`<span class="text-gray-600">${now.getDate()}.${now.getMonth()}.${now.getFullYear()}</span><span class="text-gray-600 pl-2">${nowHours}:${nowMinutes}# </span><span class="px-2 text-yellow-500">${record}</span> <span class="text-gray-600">${log.item.subject} ${log.item.date}</span></span>`)
        } 
        if(log.type === 'state' && log.status === 'fail') {
          this.logger.push(`<span class="text-gray-600">${now.getDate()}.${now.getMonth()}.${now.getFullYear()}</span><span class="text-gray-600 pl-2">${nowHours}:${nowMinutes}# </span><span class="px-2 text-red-400">${record}</span><span class="text-gray-600">${log.item.subject} ${log.item.date}</span></span>`)
        }
        if(log.type === 'state' && log.status === 'error') {
          this.logger.push(`<span class="text-gray-600">${now.getDate()}.${now.getMonth()}.${now.getFullYear()}</span><span class="text-gray-600 pl-2">${nowHours}:${nowMinutes}# </span><span class="px-2 text-red-600">${record}</span><span class="text-gray-600">(kontaktuj emailem)</span></span>`)
        }
        if (log.type === 'sys') {
          this.logger.push(`<span class="text-gray-600">${now.getDate()}.${now.getMonth()}.${now.getFullYear()}</span><span class="text-gray-600 pl-2">${nowHours}:${nowMinutes}# </span><span class="px-2 text-blue-400">${record}</span></span>`)
        }
      },
      check() {
            ipcRenderer.send('checkTerm', {
              nickname: this.nickname,
              password: this.password,
              minutes: this.minutes,
              selectedSubject: this.selectedSubject,
              selectedTerm: this.selectedTerm
              // selectedSubject: 'TI',  //odstranit 
              // subjectTerms: '13.01.2020 09:00 (po)'
            })
      },
      registerTerm() {
        ipcRenderer.send('registerTerm', {
          nickname: this.nickname,
              password: this.password,
              minutes: this.minutes,
          selectedSubject: this.selectedSubject,
          selectedTerm: this.selectedTerm
        })
      },
      isActive: function (menuItem) {
        return this.activeItem === menuItem
     },
      setActive: function(menuItem) {
        this.activeItem = menuItem;
        this.currentView = menuItem;
      },
      activateLoading() {
        this.loading = true
      }
    },
    forceRerenderTermKey() {
      this.termKey += 1
    },
    computed: {
    }
    // filters: {
    //   reverse: function (value) {
    //     return value.slice().reverse();
    //   }
    // }
  
  }
</script>

<style>
 #logo {
    height: auto;
    /* margin-bottom: 20px; */
    width: 250px;
    margin-right: 10px;
  }

  .title #title {
    color: #eeeeee;
     font-size: 26px;
     font-family: museo-sans-rounded, sans-serif!important;
  }

  #menuLabel {
    color: #616161;
    font-size: 14px;
  }

  .active {
    background: hsla(0,0%,100%,.08);
  }
  .v-navigation-drawer__border {
    display: none
  }

  #app > div > aside > hr {
    display: none
  }

  h1 {
    margin: 25px;
  }


.lds-ring {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  /* margin: 8px; */
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scale {
  transform: scale(0.5);
}

  

</style>

