<template>
    <div class="bg-gray-200 min-h-full w-full mx-0 my-0">
    <div class="hello">
    <div class="pb-8 px-4 md:px-8 lg:px-12 xl:px-20 flex items-center justify-center flex-col">
        <div class="my-6 text-4xl leading-tight font-semibold font-display">
          Čekuj zkoušku
        </div> 
       
        <div class="bg-white flex flex-col h-auto sm:w-full lg:w-10/12 md:w-10/12 lg:w-9/12 xl:w-8/12 py-4 rounded shadow-lg w-full">
          <div class="w-full px-6 py-4 min-h-full" :class="{'border-b border-gray-200': data}">
            <div class="w-full xs:flex-col sm:flex md:flex lg:flex xl:flex">
                <label class="mt-4 block w-full px-2 sm:mt-0 flex flex-col">
                    <span class="text-sm font-semibold text-gray-500">Licenční kód</span>
                    <input
                        class="block px-3 py-3 my-1 w-full bg-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:text-gray-900 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded-lg" 
                        placeholder="Vložte Váš licenční kód" 
                        type="email"
                        v-model="license"
                    />
                </label>

                <label class="mt-4 block w-full flex flex-col xs:px-0 sm:mt-0 sm:w-1/5 lg:w-2/12 xl:w-2/12 focus:outline-none">
                    <button @click="login"
                        class="block relative w-full h-12 sm:w-auto sm:mt-6 sm:inline-block md:mt-6 lg:mt-6 xl:mt-6 bg-indigo-500 hover:bg-indigo-400 font-semibold text-white px-6 py-2 rounded-lg xl:block"
                        >
                        <div class="w-full h-full py-1">
                            <span :class="{'hidden':loading}" class="">Přihlásit</span>
                            <div :class="{'hidden': !loading}" class="flex h-full items-center justify-center relative w-full ">
                            <!-- <b-loading is-full-page="false" active.sync="false" can-cancel="false"></b-loading> -->
                                <!-- <RingLoader :color="'#ffffff'" /> -->
                                <div class="flex h-full items-center">
                                <div class="lds-ring scale"><div></div><div></div><div></div><div></div></div>  

                                </div>
                            </div>
                        </div>
                            <!-- <loader></loader> -->
                        
                    </button>
                </label>
            </div>
            <div class="mt-2 flex justify-center px-6 sm:-mt-3 md:-mt-3 lg:-mt-3 xl:-mt-3">
                <span class="text-indigo-400 cursor-pointer" @click="navigateToLicence">Získat licenci</span>
                
            </div>
             <!-- <spring-spinner
                    :animation-duration="3000"
                    :size="10"
                    color="#ff1d5e"
                  /> -->
  
            
              <!-- <textarea v-model="message" v-on:input="sha1" placeholder="Hasing text" class="bg-gray-200 h-32 my-1 focus:bg-white appearance-none rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"></textarea> -->
           
          </div>

        </div>
      
      <div class="pt-8 flex">
        <span>Made with</span>
          <svg viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg" class="mx-1 mt-1 h-4 w-4" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
            <path d="M27.341 11.833C29.481 6.633 34.367 3 40.051 3c7.656 0 13.17 6.716 13.863 14.72 0 0 .374 1.988-.45 5.565-1.12 4.872-3.757 9.2-7.311 12.503L27.34 53 8.846 35.788c-3.554-3.302-6.19-7.631-7.312-12.503-.823-3.577-.45-5.564-.45-5.564C1.779 9.716 7.293 3 14.95 3c5.684 0 10.253 3.634 12.392 8.833z" fill="#d75a4a" fill-rule="nonzero"/>
          </svg>
        <span> by student </span>
        <span class="text-blue-400 ml-1">PEF</span>
        </div>
      <span class="tracking-widest text-sm text-gray-600">dracossos@gmail.com</span>
      </div>
  </div>
</div>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            license: '',
            // loading: false
        }
    },
    methods: {
        navigateToLicence() {
            this.$router.push('/registration')
        },
        login() {
            if (this.license) {
                // this.loading = true;
                axios.post(`http://localhost:3000/login`, {
                  license: this.license,
                })
                .then(response => {
                  // JSON responses are automatically parsed.
                    if (!response.data) {
                      this.notify('Něco je špatně', 'fail');
                    } else if (response.data.licensed) {
                      this.notify('Úspěšné přihlášení', 'success');
                      this.$router.push('/terms')
                    }
                    // this.loading = false; 
                })
               .catch(e => {
                  if (e.response && e.response.data) {
                      this.notify(e.response.data, 'fail');
                  } else {
                      this.notify('Něco je špatně', 'fail');
                  }
                //   this.loading = false; 
                })
            } else {
                this.notify('Zadejte licenci', 'info');
            }
        },
        notify(message, type) {
            if (type==='success'){
                this.$buefy.toast.open({
                    duration: 2000,
                    message: message,
                    type: 'is-success'
                })
            }
            if (type==='fail'){
                this.$buefy.toast.open({
                    duration: 2000,
                    message: message,
                    position: 'is-bottom',
                    type: 'is-danger'
                })
            }
            if (type==='info'){
                this.$buefy.toast.open({
                        duration: 1000,
                        message: message,
                        type: 'is-info'
                    })
            }
      }
    }
    
}
</script>