<template>
  <div class="bg-gray-200 min-h-full w-full mx-0 my-0">
    <div class="hello">
    <div class="pb-8 px-4 md:px-8 lg:px-12 xl:px-20 flex items-center justify-center flex-col">
        <div class="my-6 text-4xl leading-tight font-semibold font-display">
          Registrace licence
        </div> 
       
        <div class="bg-white flex flex-col h-auto sm:w-full md:w-10/12 lg:w-9/12 xl:w-8/12 py-4 rounded shadow-lg w-full">
          <div class="w-full px-6 py-4 min-h-full">
              <div class="w-full xs:flex-col sm:flex md:flex lg:flex xl:flex">
                <label class="mt-4 block w-full px-2 sm:mt-0 flex flex-col">
                    <span class="text-sm font-semibold text-gray-500">Email</span>
                    <input
                        class="block px-3 py-3 my-1 w-full bg-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:text-gray-900 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded-lg" 
                        placeholder="Zadejte Váš e-mail" 
                        v-model="email"
                    />
                </label>

                <label class="mt-4 block w-full flex flex-col xs:px-0 px-2 sm:mt-0 sm:w-2/5 lg:w-2/5 xl:w-2/5 focus:outline-none">
                    <button @click="generateLicense"
                        class="block relative w-full h-12 sm:w-auto sm:mt-6 sm:inline-block md:mt-6 lg:mt-6 xl:mt-6 bg-indigo-500 hover:bg-indigo-400 font-semibold text-white px-6 py-2 rounded-lg xl:block"
                        >
                        <div class="w-full h-full py-1">
                            <span :class="{'hidden':loading}" class="">Získat licenci</span>
                            <div :class="{'hidden': !loading}" class="flex h-full items-center justify-center relative w-full ">
                            <!-- <b-loading is-full-page="false" active.sync="false" can-cancel="false"></b-loading> -->
                                <!-- <RingLoader :color="'#ffffff'" /> -->
                                <div class="flex h-full items-center">
                                <div class="lds-ring scale"><div></div><div></div><div></div><div></div></div>  

                                </div>
                            </div>
                        </div>
                            <!-- <loader></loader> -->
                        
                    </button>
                </label>
            </div>
            <div class="pt-4 px-2 sm:pt-0 md:pt-0 lg:pt-0 xl:pt-0" :class="{'hidden': !hash}">
                <span class="text-sm font-semibold text-gray-500">Váš licenční kód</span>
                <div class="block border my-1 rounded py-3 px-3 text-gray-700 leading-tight flex justify-between">
                    <div class="flex justify-between">
                        <svg class="h-5 w-5 fill-current" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
                            <path d="M53.43 18.17c-1.106-2.815-3.134-6.876-6.514-10.24-3.368-3.353-7.386-5.322-10.164-6.384a8.323 8.323 0 00-8.83 1.872l-8.13 8.092c-2.41 2.399-3.105 6.09-1.728 9.184.426.96.89 1.899 1.386 2.806L1.606 41.343A2.07 2.07 0 001 42.807v9.11a2.07 2.07 0 002.07 2.07h9.11a2.07 2.07 0 002.07-2.07V48.19h3.727a2.07 2.07 0 002.07-2.07v-3.727h3.727a2.07 2.07 0 100-4.14h-5.797a2.07 2.07 0 00-2.07 2.07v3.726H12.18a2.07 2.07 0 00-2.07 2.07v3.727H5.14v-6.181l18.36-18.36a2.07 2.07 0 00.306-2.537 33.505 33.505 0 01-1.959-3.756 4.12 4.12 0 01.866-4.567l8.13-8.092a4.177 4.177 0 014.43-.939c2.404.919 5.869 2.61 8.722 5.45 2.872 2.858 4.62 6.374 5.58 8.82a4.111 4.111 0 01-.928 4.419l-8.228 8.19a4.17 4.17 0 01-4.557.887 26.873 26.873 0 01-3.726-1.9 2.07 2.07 0 00-2.166 3.528 31.03 31.03 0 004.302 2.196c3.12 1.298 6.68.6 9.068-1.777l8.228-8.19a8.25 8.25 0 001.861-8.867z" fill-rule="nonzero"/>
                        </svg>
                        <div class="pl-3">
                            {{ hash }}
                        </div>
                    </div>
                    <div class="flex">
                        <button @click="copyLicense" title="Kopírovat" type="button" class="px-2 text-gray-500 hover:text-gray-600 focus:outline-none">
                            <svg class="h-5 w-5 fill-current" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
                                <path d="M39.15 10.341H6.142a5.825 5.825 0 00-5.826 5.825v33.009A5.825 5.825 0 006.142 55H39.15a5.825 5.825 0 005.825-5.825V16.166a5.825 5.825 0 00-5.825-5.825zm1.942 38.834c0 1.072-.87 1.942-1.942 1.942H6.142A1.942 1.942 0 014.2 49.175V16.166c0-1.072.87-1.941 1.942-1.941H39.15c1.072 0 1.942.87 1.942 1.941v33.009z" fill-rule="nonzero"/><path d="M48.858.633h-34.95a5.825 5.825 0 00-5.825 5.825 1.942 1.942 0 103.884 0c0-1.072.869-1.942 1.941-1.942h34.95c1.073 0 1.942.87 1.942 1.942v34.95c0 1.073-.87 1.942-1.942 1.942a1.942 1.942 0 100 3.883 5.825 5.825 0 005.825-5.825V6.458A5.825 5.825 0 0048.858.633z" fill-rule="nonzero"/>
                            </svg>
                        </button>
                    </div>  
                </div> 
          </div>
            <div class="flex justify-start px-3 pt-3">
                <span class="text-indigo-400 hover:text-indigo-600 hover:bg-grey-200 hover:px-2 hover:py-1 cursor-pointer" @click="login">Zpět k přihlášení</span>
            </div>

          </div>

        </div>
      
      <div class="pt-8 flex">
        <span>Made with</span>
          <svg viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg" class="mx-1 mt-1 h-4 w-4" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
            <path d="M27.341 11.833C29.481 6.633 34.367 3 40.051 3c7.656 0 13.17 6.716 13.863 14.72 0 0 .374 1.988-.45 5.565-1.12 4.872-3.757 9.2-7.311 12.503L27.34 53 8.846 35.788c-3.554-3.302-6.19-7.631-7.312-12.503-.823-3.577-.45-5.564-.45-5.564C1.779 9.716 7.293 3 14.95 3c5.684 0 10.253 3.634 12.392 8.833z" fill="#d75a4a" fill-rule="nonzero"/>
          </svg>
        <span> by student </span>
        <span class="text-blue-400 ml-1">PEF</span>
        </div>
      <span class="tracking-widest text-sm text-gray-600">dracossos@gmail.com</span>
      </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            email:'',
            hash: 'xxxx-xxxx-xxxx-xxxx'
        }
    },
    methods: {
        login() {
            this.$router.push('/login')
        },
        validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        },
        generateLicense() {
            if (this.validateEmail(this.email)) {
                axios.post(`http://localhost:3000/register`, {
                  xname: this.email,
                })
                .then(response => {
                  // JSON responses are automatically parsed.
                    if (!response.data) {
                      this.notify('Něco je špatně', 'fail');
                    } else {
                      this.notify('Úspěšné vygenerování licence', 'success');
                      this.hash = response.data;
                    }
                  
                })
                .catch(e => {
                  if (e.response && e.response.data) {
                      this.notify(e.response.data, 'fail');
                  } else {
                      this.notify('Něco je špatně', 'fail');
                  }
                })
              
                console.log('generated license')
            } else {
                this.notify('Zadejte emailový formát', 'info');
            }
        },
        copyLicense() {
            // Create new element
            var el = document.createElement('textarea');
            // Set value (string to be copied)
            el.value = this.hash;
            // Set non-editable to avoid focus and move outside of view
            el.setAttribute('readonly', '');
            el.style = {position: 'absolute', left: '-9999px'};
            document.body.appendChild(el);
            // Select text inside element
            el.select();
            // Copy text to clipboard
            document.execCommand('copy');
            // Remove temporary element
            document.body.removeChild(el);
            this.notify('Zkopírováno', 'info');

            console.log('copied')
        },
        notify(message, type) {
            if (type==='success'){
                this.$buefy.toast.open({
                    duration: 2000,
                    message: message,
                    type: 'is-success'
                })
            }
            if (type==='fail'){
                this.$buefy.toast.open({
                    duration: 2000,
                    message: message,
                    position: 'is-bottom',
                    type: 'is-danger'
                })
            }
            if (type==='info'){
                this.$buefy.toast.open({
                        duration: 1000,
                        message: message,
                        type: 'is-info'
                    })
            }
      },
    }
}
</script>

<style>

</style>